* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calcolo h2 {
    color: #0d6efd;
}

#ticket h2 {
    color: #198754;
}

#ticketUserName,
#ticketOffer,
#ticketWagon,
#ticketCode,
#ticketPrice {
    border: 1px solid black;
    width: 100%;
    height: 30px;
}